# Ignore log files
*.log

# Ignore compressed files
*.tar.gz
*.zip

# Ignore specific directories
/back/
/comp_work/
/FT/

# Ignore data files
*.dat
*.csv

# Ignore shape files
*.dbf
*.fix
*.prj
*.shp
*.shx
